.myAwesomeClass {
   text-align: left;
   vertical-align: top;
   /*background: #cdedee;*/
   border-top:solid #000000;
  border-right:  solid #000000;
	border-left:  solid #000000;
   /*border-style: solid;
    border-width: 5px;
    border-color: #000000;*/
}

.myAwesomeClassOdd {
   text-align: left;
   vertical-align: top;
   /*background: #c1e9ea;*/
   background: #cdedee
   /*cdedee;*/
   border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
    /*border-style: solid;
    border-width: 5px;
    border-color: #000000;*/
}
